<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= hidden_field_tag('project_id', @project.id)%>
    <div class="row">
        <div class="span2">
            <h2><%= f.label :name %></h2>
        </div>
        <div class="span6 titleInputContainer">
            <%= f.text_field :name, :class => 'titleInput' %>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <h2><%= f.label :footer %></h2>
        </div>
        <div class="span6 titleInputContainer">
            <%= f.text_field :footer, :class => 'titleInput' %>
        </div>
    </div>
    <div id="newMedia" class="row" style="margin-bottom: 10px;">
        <% unless @project.id.nil? %>
            <button id="addMedia" type="button" class="btn btn-primary">Add Media</button>
        <% end %>
        <div id="newMediaHeader" style="display:none;">
            <h3 style="color:#ff0000;">Media Details</h3>
        </div>
    </div>
    <div id="mediaContainer" class="row">
        <% allMedia= Medium.find_all_by_project_id(@project.id, :order => :rank) %>
        <% allMedia.each do |media| %>
            <div class="form_mediaContainer span3" id="<%=media.id%>_container">
                <% if media.category == "image" %>
                    <img src="/<%= media.url %>" width="100px" />
                <% else %>
                    <%
                       urlString = "http://vimeo.com/api/oembed.json?url=" << media.url << "&width=700"
                       url = URI.parse(urlString)
                       req = Net::HTTP::Get.new(urlString)
                       res = Net::HTTP.start(url.host, url.port) {|http|
                         http.request(req)
                       }
                       #puts url.url
                       json = ActiveSupport::JSON.decode(res.body)
                    %>
                    <%= raw(json['html']) %>
                <% end %>
                <a class="btn btn-danger" id="<%=media.id%>_delete" href="#" style="padding:1px 1px; vertical-align: top;"><i class="icon-trash icon-large"></i></a>
                <input id="<%=media.id%>_rank" type="text" placeholder="<%= media.rank %>" style="width:20px; text-align:center; vertical-align: top;"></input>
            </div>
        <% end %>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="span2">
            <button id="updateMedia" type="button" class="btn btn-warning" style="width:150px">Save Media Order</button>
        </div>
        <div class="span1">
        <%= f.submit "Save Info", :id => "save", :class => "btn btn-info"%>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){
            $($('#addMedia')[0]).click(function() {
                var container = document.getElementById('newMedia');
                var iframe  = document.createElement("IFRAME");
                iframe.src = "/media/new?project=<%= @project.id %>";
                iframe.style.border = "none";
                container.style.width = iframe.style.width = "980px";
                container.style.height = iframe.style.height = "730px";
                container.appendChild(iframe);

                $(this).remove();
                $("#save").remove();
                $("#newMediaHeader").show();
            });
        }, false);

        /*
         var confirm = window.confirm("Will erase previous data\nAre you sure?");
         if (!confirm) {
            return;
         }
         */
        $(".icon-trash").click(function( event ){
            var confirm = window.confirm("About to destroy this media object!\nAre you sure?");
            if (!confirm) {
                return;
            }

            var formData = new FormData();
            formData.append("_method", "delete");
            var req = new XMLHttpRequest();
            req.onreadystatechange = function( e ) {
                if (req.readyState === 4){
                    // Refresh if in iframe
                    parent.location.reload();
                }
            };
            req.open("POST", "/media/" + this.parentNode.id.split("_")[0] + ".xml");
            req.send(formData);
        })
        $('#updateMedia').click(function( event ){
            event.preventDefault();

            var formData = new FormData();
            formData.append("project_id", $("#project_id")[0].value);
            $(".form_mediaContainer").each(function(index, element){
                var nameParts = element.id.split("_container");
                var rankElement = $("#" + nameParts[0] + "_rank");
                formData.append(nameParts[0], rankElement[0].value || rankElement[0].placeholder);
            });
            var req = new XMLHttpRequest();
            req.onreadystatechange = function( e ) {
                if (req.readyState === 4){
                    // Refresh if in iframe
                    parent.location.reload();
                }
            };
            req.open("POST", "/media/update-ranks");
            req.send(formData);
        });
    </script>
<% end %>

