<% require 'net/http' %>
<link rel="stylesheet/less" type="text/css" href="/stylesheets/main.less" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top navHeader">
    <div class="navbar-inner lukasAndreasNav" style="background: white;border: none; box-shadow: none;">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <% @projects.each do |project| %>
                        <li><a class="projectNavLink" id="<%= project.name.gsub(/[^0-9a-z]/i, '') %>_link" href=""><%= project.name %></a></li>
                    <% end %>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">
        <div class="mediaContainer row" style="padding-bottom:10px">
            <img src="/images/hero.jpg" />
        </div>
        <div class="container">
        <% @projects.each do |project| %>
                <div class="mediaContainer row" id="<%= project.name.gsub(/[^0-9a-z]/i, '') %>_content">
                </div>
            <% allMedia= Medium.find_all_by_project_id(project.id) %>
            <% allMedia.each do |media| %>
                <div class="mediaContainer row">
                    <% if media.category == "image" %>
                        <img src="/<%= media.url %>" />
                    <% else %>
                        <%
                           urlString = "http://vimeo.com/api/oembed.json?url=" << media.url << "&width=700"
                           url = URI.parse(urlString)
                           req = Net::HTTP::Get.new(urlString)
                           res = Net::HTTP.start(url.host, url.port) {|http|
                             http.request(req)
                           }
                           #puts url.url
                           json = ActiveSupport::JSON.decode(res.body)
                        %>
                        <%= raw(json['html']) %>
                    <% end %>
                    <% unless media.caption.empty? %>
                        <div class="mediaCaption row span9">
                            <%= media.caption %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
    <div id="push"></div>
</div>
<div id="footer">
    <div class="container">
        <p class="muted credit">&copy; Lukas Lund & Andreas Hoff 2012.</p>
    </div>
</div>
<script type="text/javascript">
    (function() {
        var lastTime = 0;
        var vendors = ['ms', 'moz', 'webkit', 'o'];
        for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
            window.requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
            window.cancelAnimationFrame = window[vendors[x]+'CancelAnimationFrame']
                    || window[vendors[x]+'CancelRequestAnimationFrame'];
        }

        if (!window.requestAnimationFrame)
            window.requestAnimationFrame = function(callback, element) {
                var currTime = new Date().getTime();
                var timeToCall = Math.max(0, 16 - (currTime - lastTime));
                var id = window.setTimeout(function() { callback(currTime + timeToCall); },
                        timeToCall);
                lastTime = currTime + timeToCall;
                return id;
            };

        if (!window.cancelAnimationFrame)
            window.cancelAnimationFrame = function(id) {
                clearTimeout(id);
            };
    }());

    function animate() {
        requestAnimationFrame( animate ); // js/RequestAnimationFrame.js needs to be included too.
        TWEEN.update();
    }
    animate();

    document.addEventListener('DOMContentLoaded', function(){
        console.log( $('.projectNavLink') );
        $('.projectNavLink').click(function(e) {
            e.preventDefault();
            e.stopPropagation();
            e.stopImmediatePropagation();

            var navLink = e.originalEvent.currentTarget;
            var contentId = navLink.id.split("_")[0] + "_content";
            var contentDiv = $('#' + contentId )[0];
            var tween = new TWEEN.Tween( { y: window.scrollY } )
                    .to( { y: contentDiv.offsetTop - 60 }, 1000 )
                    .easing( TWEEN.Easing.Quadratic.InOut )
                    .onUpdate( function () {
                        window.scrollTo( 0, Math.round(this.y) )
                    } )
                    .start();

        });
    }, false);


</script>

